.navegacao{
    width: 600px;
    margin: 25px auto;
}

.navegacao nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navegacao button{
    color: aliceblue;
    background-color: aqua;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

.navegacao button:hover{
    background-color: rgb(181, 182, 182);
    color:aqua;
}